@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding-left: 250px;
  padding-right: 250px;
}

header h1{
  color: #f9faf8;
  font-size: 24px;
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.content{
  display: flex;
  flex-direction: column;
}

.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 100px 250px;
  gap: 50px;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1{
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.left p{
  color: #e5e7eb;
  font-size: 18px;
}

.left button{
  align-self: flex-start;
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  padding: 8px 32px;
  font-size: 18px;
}

.right{
  min-width: 600px;
  height: 300px;
  background-color: #6D747D;
}

.information h2{
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  padding: 24px 0;
}

.infos{
  display: flex;
  justify-content: center;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: center;
  color: #6D747D;
  font-size: 18px;
}

.info .img{
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}